# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: MSFT Request
on: [issues]
jobs:
  validate:
    runs-on: ubuntu-latest
    env:
      HR_CORE_API_HARD_DELETE_CLIENT_ID: ${{ secrets.HR_CORE_API_HARD_DELETE_CLIENT_ID }}
      HR_CORE_API_URL: ${{ secrets.HR_CORE_API_URL }}
      MSFT_AZURE_TENANT_ID: ${{ secrets.MSFT_AZURE_TENANT_ID }}
      MSFT_TENANT_CLIENT_ID: ${{ secrets.MSFT_TENANT_CLIENT_ID }}
      MSFT_TENANT_CLIENT_SECRET: ${{ secrets.MSFT_TENANT_CLIENT_SECRET }}

    permissions:
      issues: write
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10.5'
          architecture: 'x64'
      - name: Install dependencies
        run: |
          pip install requests
          npm install @octokit/rest
      - name: Validate Issue
        id: validate
        run: |
          python src/validate_issue.py "${{ github.event.issue.body }}"
          
      - name: Add comment
        if: steps.validate.outputs.ISSUE_DETECTED == 'yes'
        uses: peter-evans/create-or-update-comment@a35cf36e5301d70b76f316e867e7788a55a31dae
        with:
          issue-number: ${{ github.event.issue.number }}
          body: |
            This is a test.** :sparkles: Thank you for your contribution! :sparkles:

