# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: MSFT Request
on: [issues]
jobs:
  validate:
    runs-on: ubuntu-latest
    env:
      HR_CORE_API_HARD_DELETE_CLIENT_ID: ${{ secrets.HR_CORE_API_HARD_DELETE_CLIENT_ID }}
      HR_CORE_API_URL: ${{ secrets.HR_CORE_API_URL }}
      MSFT_AZURE_TENANT_ID: ${{ secrets.MSFT_AZURE_TENANT_ID }}
      MSFT_TENANT_CLIENT_ID: ${{ secrets.MSFT_TENANT_CLIENT_ID }}
      MSFT_TENANT_CLIENT_SECRET: ${{ secrets.MSFT_TENANT_CLIENT_SECRET }}

    permissions:
      issues: write
    steps:
      - uses: actions/checkout@main 
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10.5'
          architecture: 'x64'
      - name: Install dependencies
        run: pip install -r requirements.txt
      - name: Validate Issue
        run: python src/validate_issue.py "${{ github.event.issue.body }}"

        