# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: MSFT Request
on: [issues]
jobs:
  validate:
    runs-on: ubuntu-latest
    permissions:
      issues: write
    steps:
      - name: Validate Issue
        run: |
          ISSUE_NUMBER=$(echo $GITHUB_REF | sed 's/refs\/issues\///')
          PAYLOAD=$(cat <<EOF
          {
            "issue_number": $ISSUE_NUMBER
          }
          EOF
          )
          API_ENDPOINT=https://it-offboarding-staging.service.iad.github.net/dual_access/validate
          echo $API_ENDPOINT
          echo $PAYLOAD
          curl -X POST $API_ENDPOINT \
          -d "$PAYLOAD"

        